@{
    var routeValues = this.ViewContext.RouteData.Values;
    var controller = routeValues["controller"] as string;
    var action = routeValues["action"] as string;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@_Layout.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="softwaredev.ro" />
    <meta name="description" content="@_Layout.MetaDescription" />
    <meta name="keywords" content="@_Layout.KeywordsDescription" />
    @Styles.Render("~/bundles/css")
    @RenderSection("css", false)

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("js", false)

    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>
